* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
li {
    list-style: none;
}
$color1: #1A696C;
$color2:  #F1E5D2;

$font1: 'Assistant', sans-serif;
$font2: 'Comfortaa', cursive;
$font3: 'Dancing Script', cursive;
$font4: 'Pacifico', cursive;

// MAX WIDTH
 
$max-width: 1200px;